<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}- TO DO APP</title>
    <style>
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }

        .tasks {
            padding: 20px;
            margin: 10px;
            background-color: #f7f4f4;
        }

        .notes {
                margin-left: 50px;
                font-size: 20px;
        }

    </style>
</head>
<body>
    <nav>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('main.index') }}">To-Do App</a>
        {% endif %}
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('main.create') }}">Create</a>
        {% endif %}
        {% if not current_user.is_authenticated %}
        <a href="{{ url_for('auth.login') }}">Login</a>
        {% endif %}
        {% if not current_user.is_authenticated %}
        <a href="{{ url_for('auth.signup') }}">Sign Up</a>
        {% endif %}
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('auth.logout') }}">Logout</a>
        {% endif %}
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>